<h2>Admin data records ...</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Post</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>{{productData.id}}</td>
            <td>{{productData.name}}</td>
            <td>{{productData.email}}</td>
            <td>{{productData.address}}</td>
            <td>{{productData.post}}</td>
        </tr>
        
    </thead>
</table>
