<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./mobile']" class="btn btn-primary">Go mobile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/telivision.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <a [routerLink]="['./telivision']" class="btn btn-primary">Go telivision</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/freeze.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./freeze']" class="btn btn-primary">Go freeze</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/camera.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./camera']" class="btn btn-primary">Go camera</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/mobile.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./mobile']" class="btn btn-primary">Go mobile</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/telivision.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <a [routerLink]="['./telivision']" class="btn btn-primary">Go telivision</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/freeze.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./freeze']" class="btn btn-primary">Go freeze</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/camera.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a [routerLink]="['./camera']" class="btn btn-primary">Go camera</a>
        </div>
    </div>

</div>